
.custom-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }

  .imagenLogo{
    width: 60%;
    height: 60%;
  }

  .navbar{
    border-bottom: 1px solid gray;
  }