<nav class="navbar bg-black">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        
      <a href="welcome" class="logo-link">
        <img class="imagenLogo" src="assets/star-wars-logo-31.png">
      </a>
    </div>
  
    <div class="container-fluid d-flex justify-content-end">
      <div class="ml-auto">
        
        <button class="btn btn-link nav-link custom-font" *ngIf="!isLoggedIn" routerLink="account/login"><i class="fa-solid fa-right-from-bracket"></i> LOGIN</button>
        <!-- <span class="separator" *ngIf="!isLoggedIn">|</span> -->
        <button class="btn btn-link nav-link custom-font" *ngIf="!isLoggedIn" routerLink="account/register"><i class="fa-solid fa-user-plus"></i> SIGN UP</button>
        <button class="btn btn-link nav-link custom-font" *ngIf="isLoggedIn" (click)="logout()"><i class="fa-solid fa-circle-xmark"></i> LOG OUT</button>
      </div>
    </div>
  
    <div class="container-fluid d-flex justify-content-center">
      <a class="btn btn-link nav-item nav-link custom-font mr-3" routerLink="welcome">HOME</a>
      <span class="separator">|</span>
      

      <a class="btn btn-link nav-item nav-link custom-font" routerLink="listships">STARSHIPS</a>
    </div>
  </nav>
  
  