

<body class="bg-black">


    <nav class="navbar    ">
        <div class="container-fluid navbar-expand">
            <div class=" navbar-collapse d-flex justify-content-center">
                <a class="  " href="welcome">
                    <img class="imagenLogo " src="assets/star-wars-logo-31.png">
                </a>
            </div>
            
            <div class="navbar-collapse justify-content-end">
                <div class="menu-items">
                    <button class="btn btn-link nav-item nav-link custom-font mr-3"
                        routerLink="account/login">LOGIN</button>
                    <span class="separator">|</span>
                    <button class="btn btn-link nav-item nav-link custom-font" (click)="logout()">LOG OUT</button>
                    <span class="separator">|</span>
                    <button class="btn btn-link nav-item nav-link custom-font" routerLink="account/register">SIGN
                        UP</button>
                </div>
            </div>

            <br>
        </div>
        <br>
        <div class="navbar-collapse d-flex justify-content-center mb-1">
            <a class="btn btn-link nav-item nav-link custom-font mr-3" routerLink="welcome">HOME</a>
            <span class="separator">|</span>
            <a class="btn btn-link nav-item nav-link custom-font" routerLink="listships">STARSHIPS</a>
        </div>
    </nav>

</body>
