<h1>STARSHIPS</h1>

<div class="container-fluid text-light">
    <div class="row justify-content-center">
      <div
        *ngFor="let ship of ships"
        class="col-8 m-3 p-3 fw-lighter fs-6 title-style"
        style="background-color: #151515"
      >
        <a [routerLink]="['/cardship']" (click)="seeCardShip(ship)">
          <h3>{{ ship.name }}</h3>
        </a>
        <p>{{ ship.model }}</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <button (click)="loadShips()" class="btn btn-warning">
          VIEW MORE
        </button>
      </div>
    </div>
  </div>