.container-fluid {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.content {
    margin-top: 165px;
    margin-bottom: 10px;
}