h3 {
  color: white;
}

body {
  overflow: hidden;
  background-color: black;
  background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
}

.star-wars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 350px;
  animation: intro 25s linear infinite;
}

.star-wars-text {
  color: #ffde06;
  padding: 40px;
  text-align: justify;
  letter-spacing: 1.5px;
  max-width: 1080px;
  height: 600px;
  transform: rotateX(14deg);
  opacity: 1;
}



@keyframes intro {
  0% {
    transform: perspective(200px) rotateX(14deg) translateY(400px);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: perspective(200px) rotateX(20deg) translateY(-1000px);
    opacity: 0;
  }
}