<div class="container">

    <body class="container">
        
    <h3 class="star-wars-text">
        <pre>

                Episode IV
                A new hope
            
                
            It is a period of civil war.
            Rebel spaceships, attacking
            from a secret base, have gained their
            first battle against
            evil Galactic Empire.
            
            
            During the battle, the spies
            rebels managed to steal the plans
            of the most modern weapon of the empire,
            The Death Star, a station
            space armed, with enough power
            to destroy an entire planet.
        
        
            Persecuted by the empire, The Princess
            Leia flees, guarding the stolen plans.
            to restore peace and freedom to the galaxy...
    </pre>
</h3>
    
</body>
        </div>