<div class="card">

    <h1 class="text-center ">{{ starship.name | uppercase }}</h1>
    <div class="container text-center">

        <p>Model: {{ starship.model }}</p>
        <p>StarShip Class: {{ starship.starship_class }}</p>
    <p>Manufacturer: {{ starship.manufacturer }}</p>
    <p>Cost: {{ starship.cost_in_credits }} CREDITS </p>
    <br>
    
    <p>Crew: {{ starship.crew }}</p>
    <p>Passenger Capacity: {{ starship.passengers }}</p>
    <p>Cargo Capacity: {{ starship.cargo_capacity }} TONS </p>
    <p>Consumables: {{ starship.consumables }}</p>
    <br>
    
    <p>Length: {{ starship.length }} METERS </p>
    <p>Maximum Atmosphering Speed: {{ starship.max_atmosphering_speed }} KM/H </p>
    <p>Hyperdrive Rating: {{ starship.hyperdrive_rating }}</p>
    <p>Maximum speed in realspace: {{ starship.MGLT }} MGLT </p>
</div>
    
</div>