body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.container-fluid {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.card {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
    color: #ffde06;
}

.btn {
    color: black;
    background-color: #ffdd59;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn:hover {
    box-shadow: 0 0 10px #ffde06;
}